
.conatiner { 
    width: 550px;
    height: 300px;
    border: 1px solid #1a2130;
    background-color: #1a2130;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}