.conatiner {
    margin: 20px;
    padding: 7px;
    width: 484px;
    height: 80px;
    border: 1px solid #666666;
    --tw-bg-opacity: 1;
    background-color: rgb(11 15 28/var(--tw-bg-opacity));
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}